:root {
    --primary-color: #5b4f5b;
    --accent-color: #d5f3f9;
}

/*No padding/Margin*/
body {
    margin:0px;
    padding:0px;
}

h1, #menu li a {
    font-family: 'Bungee Hairline', cursive;
}

p {
    font-size: 1.5em;
    color: var(--primary-color);
    font-family: 'Tillana', cursive;
    font-weight: lighter;
}

#menu {
    /*Remove bullet from <ul>*/
    list-style: none;
    position:absolute;
    z-index:100;
}

#menu-underline {
    border: 0.1em solid var(--primary-color);
    -webkit-box-shadow: 0 0 6px var(--primary-color),0 6px 12px rgba(0,0,0,.32);
    -moz-box-shadow: 0 0 6px var(--primary-color),0 6px 12px rgba(0,0,0,.32);
    -o-box-shadow: 0 0 6px var(--primary-color),0 6px 12px rgba(0,0,0,.32);
    -ms-box-shadow: 0 0 6px var(--primary-color),0 6px 12px rgba(0,0,0,.32);
    box-shadow: 0 0 6px var(--primary-color),0 6px 12px rgba(0,0,0,.32);


    position: fixed;
    top: 100px;
    left:0px;
    width: 550px;
    z-index: 1000;
}

#menu li {
    /*Display menu horizontally*/
    display: inline-block;
    margin: 10px;
}

#menu li a {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.8em;

    /*Remove underline from link*/       
    text-decoration: none;
    
    /*Make link slowly change between hover*/
    transition: all 0.5s ease;
}

/*Underline the active menu item*/
#menu li.active a {    
    text-decoration: underline;
}

#menu li a:hover {    
    color: var(--accent-color);
}

.section {
    text-align: center;
    vertical-align: text-top;
}

h1 {
    color:var(--primary-color);   
    font-size: 6em;
    margin:0px;
    padding:0px;
    height:200px;    
}

h2 {
    color: var(--accent-color);
    font-size: 2em;
    font-family: calibri;
}

#homepageImage {
    border: 5px solid var(--primary-color);
    -webkit-box-shadow: 0 0 6px var(--primary-color),0 6px 12px rgba(0,0,0,.32);
    -moz-box-shadow: 0 0 6px var(--primary-color),0 6px 12px rgba(0,0,0,.32);
    -o-box-shadow: 0 0 6px var(--primary-color),0 6px 12px rgba(0,0,0,.32);
    -ms-box-shadow: 0 0 6px var(--primary-color),0 6px 12px rgba(0,0,0,.32);
    box-shadow: 0 0 6px var(--primary-color),0 6px 12px rgba(0,0,0,.32);
}



@-webkit-keyframes fadeIn { from { left:0px} to { } }
@-moz-keyframes fadeIn { from { opacity:0;  left:0px} to { opacity:1; } }
@keyframes fadeIn { from { opacity:0;  left:0px } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.1s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
